.form-text-area {
    width: 100%;
}
.form-text-area__textarea {
    padding: 8px 10px;

    max-width: 100%;
    min-width: 100%;

    max-height: 250px;
    min-height: 100px;

    font-size: 16px;

    border-radius: 8px;
}
.form-text-area__wrapper-count-character {
    display: flex;
    justify-content: end;
}
.form-text-area__count-character {
    font-size: 12px;
    color: #9DA6AA;
}
