@media screen and (max-width: 1900px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 805px) {
    .index__wrapper {
        flex-direction: column;
    }
    .index__right-bar {
        display: none;
    }
    .index__right-bar--show {
        display: block;
        max-width: none;
    }
    .index__primary-btn {
        display: block;
    }
    .index__primary-btn--hidden {
        display: none;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    .index__right-bar--show .order__list-item {
        flex-direction: column;
        gap: 5px;
    }
    .index__right-bar--show .order__list {
        gap: 10px;
    }
}
