@media screen and (max-width: 1900px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 805px) {
    .index__wrapper {
        flex-direction: column;
    }
    .index__right-bar {
        display: none;
    }
    .index__primary-btn {
        display: block;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}
