:root {
    --color-text: #000000;
    --arrow-back-svg: #000000; 
    --color-btn-arrow: #000000;
    --color-index-title: #000000;
}
.dark {
    --color-text: #ffffff;
    --arrow-back-svg: #ffffff; 
    --color-btn-arrow: #ffffff;
    --color-index-title: #ffffff;
}
.index__title {
    margin-top: 24px;
    margin-bottom: 16px;

    color: var(--color-index-title);
}
.index__arrow-back {
    display: none;
    align-items: center;
    gap: 5px;

    padding: 5px;

    color: var(--color-btn-arrow);

    border: 1px solid #E0E3E4;
    border-radius: 8px;
}
.index__arrow-back--show {
    display: flex;
}
.index__arrow-back-svg {
    display: flex;
    
    transform: rotate(90deg);
}
.index__arrow-back-svg path {
    fill: var(--arrow-back-svg);
}
.index__arrow-back-text {
    font-size: 16px;
} 
.index__wrapper {
    position: relative;

    display: flex;
    gap: 30px;

    padding: 12px 8px;   
}

.index__right-bar {
    padding: 12px 8px;

    max-width: 495px;
    width: 100%;

    max-height: fit-content;

    box-shadow: 1px 3px 10px rgba(0, 0, 0, 7%);
    background-color: #ffffff;
}
.index__left-bar--hidden {
    display: none;
}
.index__right-bar--show {
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1; */

    /* max-width: fit-content;
    min-height: 100%; */

    background-color: #ffffff;
}

.index__about {
    
}
.index__about-item {
    color: var(--color-text);
}
.index__about-span {
    display: block;
    margin-bottom: 4px;
}
.index__about-wrapper {
    
}
.index__about-wrapper--center {
    align-items: center;
}

.index__comment {
    margin-top: 8px;
}
.index__primary-btn {
    display: none;
}
.index__right-bar {
    background-color: var(--bg-color-left-bar);
}
.index__right-bar--show {
    display: block;
}
.index__footer {
    margin-top: 52px;
}
.index__footer--hidden {
    display: none;
}
