.index__title {
    margin-top: 24px;
    margin-bottom: 16px;
}
.index__section {
    padding: 12px 8px;
    max-width: 705px;
}
.index__sub-title {
    margin-bottom: 12px;
}
.index__about {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.index__about-wrapper {
    display: flex;
    align-items: end;
    gap: 3px;
}
.index__about-wrapper-element {
    margin-bottom: auto;
    margin-top: auto;
}
