@media screen and (max-width: 1900px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 645px) {
    .footer__left-content {
        justify-content: center;
    }
    .footer__item {
        margin: 0;
    }
}


@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    .footer__right-content--select {
        position: absolute;
        right: 0;
        top: 32px;
    }
}
